<div class="col-md-8 offset-md-1" style="user-select: auto;">
  <h2 style="user-select: auto;">Users</h2>
  <table class="table table-hover table-inverse" style="user-select: auto;">
    <thead style="user-select: auto;">
      <tr style="user-select: auto;">
        <th style="user-select: auto;"></th>
        <th style="user-select: auto;">image</th>
        <th style="user-select: auto;">name</th>
        <th colspan="3" style="user-select: auto;"></th>
      </tr>
    </thead>
    <tbody style="user-select: auto;">
      <% @users.each do |user| %>
        <tr style="user-select: auto;">
          <td style="user-select: auto;"><%= image_tag('猫の手のフリー素材1.png') %></td>
          <td style="user-select: auto;"><%= user.image %></td>
          <td style="user-select: auto;"><%= user.name %></td>
        </tr>
      <% end %>
  </tbody>
</table>
</div>
