<main style="user-select: auto;">
  <p id="notice" style="user-select: auto;"></p>
  <div class="container" style="user-select: auto;">
   <div class="row" style="user-select: auto;">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6" style="user-select: auto;">
      <h1 style="user-select: auto;">welcome to <i class="fas fa-book" style="user-select: auto;"></i><strong style="user-select: auto;">Bookers</strong>  !!</h1>
      <p style="user-select: auto;">In  <i class="fas fa-book" style="user-select: auto;"></i><strong style="user-select: auto;">Bookers</strong>, </p>
      <p style="user-select: auto;">you can share and exchange  your opinions , inpressions , and emotions</p>
      <p style="user-select: auto;"> about various books!</p>
      <div class="btn-wrapper col-10 mx-auto" style="user-select: auto;">
        <div class="row" style="user-select: auto;">
          <a class="btn btn-info btn-sm btn-block mb-3 sign_in" href="/users/sign_in" style="user-select: auto;">Log in</a>
        </div>
        <div class="row" style="user-select: auto;">
          <a class="btn btn-success btn-sm btn-block sign_up" href="/users/sign_up" style="user-select: auto;">Sign Up</a>
        </div>
      </div>
    </div>
   </div>
  </div>
</main>